# Python environment
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs and temp files
*.log
*.tmp
*.bak
*.swp
*.swo

# Build artifacts
dist/
build/
*.egg-info/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment files
.env
.env.*
